<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Roomit</h1>
    <p>
      You have signed up and login to Roomit,
      your email is: <%= @user.email%><br>
    </p>
    <p>
      To continue, just follow this link: <%= @url %>.
    </p>
    <p>
      Thanks for joining and have a great journey!
    </p>
  </body>
</html>