<h1 class=" text-2xl text-pink-800 ">Room#home</h1>
<p>Find me in app/views/room/home.html.erb</p>

<%= button_to "login", new_user_session_path  %>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
