<section class="w-full px-5 sm:px-10 ">
  <div class="grid grid-cols-1 gap-x-5 gap-y-7 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-5 ">
    <div class="relative card-carousel-container">
      <div data-controller="carousel" class="relative mx-auto rounded-lg swiper-container mySwiper ">
        <div class="absolute z-10 flex flex-col w-full h-full p-3">
          <i class="self-end text-2xl text-center fa-solid fa-heart opacity-60 hover:opacity-80" ></i>
          <div class="flex self-center justify-between w-full my-auto ">
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-left"></i>
            </div>
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="relative swiper-wrapper">
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between m-2 ">
        <div>
          <div class="">雞籠港小屋</div>
          <div class="mt-0.5 text-gray-500 ">海洋景觀</div>
          <div class="mt-0.5 text-gray-500 ">12月11日至16日</div>
          <div class="mt-0.5">$7,173 TWD <span>晚</span></div>
        </div>
        <div class="flex items-start justify-end ">
          <img src="/assets/star_icon.svg" class="w-5 h-5 mt-0.5 mr-0.5 ">
          <p class="inline-block text-md ">4.87</p>
        </div>
      </div>
    </div>
    <div class="relative card-carousel-container">
      <div data-controller="carousel" class="relative mx-auto rounded-lg swiper-container mySwiper ">
        <div class="absolute z-10 flex flex-col w-full h-full p-3">
          <i class="self-end text-2xl text-center fa-solid fa-heart opacity-60 hover:opacity-80" ></i>
          <div class="flex self-center justify-between w-full my-auto ">
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-left"></i>
            </div>
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="relative swiper-wrapper">
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between m-2 ">
        <div>
          <div class="">雞籠港小屋</div>
          <div class="mt-0.5 text-gray-500 ">海洋景觀</div>
          <div class="mt-0.5 text-gray-500 ">12月11日至16日</div>
          <div class="mt-0.5">$7,173 TWD <span>晚</span></div>
        </div>
        <div class="flex items-start justify-end ">
          <img src="/assets/star_icon.svg" class="w-5 h-5 mt-0.5 mr-0.5 ">
          <p class="inline-block text-md ">4.87</p>
        </div>
      </div>
    </div>
    <div class="relative card-carousel-container">
      <div data-controller="carousel" class="relative mx-auto rounded-lg swiper-container mySwiper ">
        <div class="absolute z-10 flex flex-col w-full h-full p-3">
          <i class="self-end text-2xl text-center fa-solid fa-heart opacity-60 hover:opacity-80" ></i>
          <div class="flex self-center justify-between w-full my-auto ">
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-left"></i>
            </div>
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="relative swiper-wrapper">
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between m-2 ">
        <div>
          <div class="">雞籠港小屋</div>
          <div class="mt-0.5 text-gray-500 ">海洋景觀</div>
          <div class="mt-0.5 text-gray-500 ">12月11日至16日</div>
          <div class="mt-0.5">$7,173 TWD <span>晚</span></div>
        </div>
        <div class="flex items-start justify-end ">
          <img src="/assets/star_icon.svg" class="w-5 h-5 mt-0.5 mr-0.5 ">
          <p class="inline-block text-md ">4.87</p>
        </div>
      </div>
    </div>
    <div class="relative card-carousel-container">
      <div data-controller="carousel" class="relative mx-auto rounded-lg swiper-container mySwiper ">
        <div class="absolute z-10 flex flex-col w-full h-full p-3">
          <i class="self-end text-2xl text-center fa-solid fa-heart opacity-60 hover:opacity-80" ></i>
          <div class="flex self-center justify-between w-full my-auto ">
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-left"></i>
            </div>
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="relative swiper-wrapper">
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between m-2 ">
        <div>
          <div class="">雞籠港小屋</div>
          <div class="mt-0.5 text-gray-500 ">海洋景觀</div>
          <div class="mt-0.5 text-gray-500 ">12月11日至16日</div>
          <div class="mt-0.5">$7,173 TWD <span>晚</span></div>
        </div>
        <div class="flex items-start justify-end ">
          <img src="/assets/star_icon.svg" class="w-5 h-5 mt-0.5 mr-0.5 ">
          <p class="inline-block text-md ">4.87</p>
        </div>
      </div>
    </div>
    <div class="relative card-carousel-container">
      <div data-controller="carousel" class="relative mx-auto rounded-lg swiper-container mySwiper ">
        <div class="absolute z-10 flex flex-col w-full h-full p-3">
          <i class="self-end text-2xl text-center fa-solid fa-heart opacity-60 hover:opacity-80" ></i>
          <div class="flex self-center justify-between w-full my-auto ">
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-left"></i>
            </div>
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="relative swiper-wrapper">
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between m-2 ">
        <div>
          <div class="">雞籠港小屋</div>
          <div class="mt-0.5 text-gray-500 ">海洋景觀</div>
          <div class="mt-0.5 text-gray-500 ">12月11日至16日</div>
          <div class="mt-0.5">$7,173 TWD <span>晚</span></div>
        </div>
        <div class="flex items-start justify-end ">
          <img src="/assets/star_icon.svg" class="w-5 h-5 mt-0.5 mr-0.5 ">
          <p class="inline-block text-md ">4.87</p>
        </div>
      </div>
    </div>
    <div class="relative card-carousel-container">
      <div data-controller="carousel" class="relative mx-auto rounded-lg swiper-container mySwiper ">
        <div class="absolute z-10 flex flex-col w-full h-full p-3">
          <i class="self-end text-2xl text-center fa-solid fa-heart opacity-60 hover:opacity-80" ></i>
          <div class="flex self-center justify-between w-full my-auto ">
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-left"></i>
            </div>
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="relative swiper-wrapper">
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between m-2 ">
        <div>
          <div class="">雞籠港小屋</div>
          <div class="mt-0.5 text-gray-500 ">海洋景觀</div>
          <div class="mt-0.5 text-gray-500 ">12月11日至16日</div>
          <div class="mt-0.5">$7,173 TWD <span>晚</span></div>
        </div>
        <div class="flex items-start justify-end ">
          <img src="/assets/star_icon.svg" class="w-5 h-5 mt-0.5 mr-0.5 ">
          <p class="inline-block text-md ">4.87</p>
        </div>
      </div>
    </div>
    <div class="relative card-carousel-container">
      <div data-controller="carousel" class="relative mx-auto rounded-lg swiper-container mySwiper ">
        <div class="absolute z-10 flex flex-col w-full h-full p-3">
          <i class="self-end text-2xl text-center fa-solid fa-heart opacity-60 hover:opacity-80" ></i>
          <div class="flex self-center justify-between w-full my-auto ">
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-left"></i>
            </div>
            <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
              <i class="text-gray-700 fa-solid fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="relative swiper-wrapper">
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
          <div class="slide swiper-slide">
            <img src="/assets/house.jpeg" alt="" class="object-cover w-full h-full " >
          </div>
        </div>
      </div>
      <div class="flex flex-row justify-between m-2 ">
        <div>
          <div class="">雞籠港小屋</div>
          <div class="mt-0.5 text-gray-500 ">海洋景觀</div>
          <div class="mt-0.5 text-gray-500 ">12月11日至16日</div>
          <div class="mt-0.5">$7,173 TWD <span>晚</span></div>
        </div>
        <div class="flex items-start justify-end ">
          <img src="/assets/star_icon.svg" class="w-5 h-5 mt-0.5 mr-0.5 ">
          <p class="inline-block text-md ">4.87</p>
        </div>
      </div>
    </div>
  </div>
</section>
<%# <button class="fixed w-40 h-20 bg-black rounded-full top-1/2 right-1/2 ">
</button> %>
