<section class="w-full px-5 sm:px-10 ">
    <div class="grid grid-cols-1 gap-x-5 gap-y-7 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-5 ">
        <div class="relative card-carousel-container">
          <div data-controller="carousel" class="relative mx-auto rounded-lg swiper-container mySwiper ">
            <div class="absolute z-10 flex flex-col w-full h-full p-3">
              <i class="self-end text-2xl text-center fa-solid fa-heart opacity-60 hover:opacity-80" ></i>
              <div class="flex self-center justify-between w-full my-auto app/views/room/showroom.html.erb">
                <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
                  <i class="text-gray-700 fa-solid fa-chevron-left"></i>
                </div>
                <div class="flex items-center justify-center w-8 h-8 bg-white rounded-full opacity-50 hover:opacity-100 ">
                  <i class="text-gray-700 fa-solid fa-chevron-right"></i>
                </div>
              </div>
            </div>
</section>
<section class="w-full px-5 sm:px-10 ">
<div class="sm:grid grid-cols-1 gap-1 lg:grid xl:grid">
  <div class="font-semibold text-2xl mb-2">新上特價、交通便利、大浴缸、山瑚景觀房、近公車站、青小瑞士花 園、步道</div>
  <div class="flex flex-nowrap justify-between"> 
    <div>4.79．42則評價．超讚房東．</div>
    <div>
      <a href="http:#" class="font">分享</a>
      <a href="http:#" class="font">儲存</a>
    </div> 
  </div>
    
  <div><img src="https://picsum.photos/600/300?random=12" alt="" class="mt-2 mb-2 rounded-lg"></div>
</div>
<div>
  

  <div class="flex">
    <div class="my-4 ">
      <div class="text-2xl">BeachRiad出租的露營車／休旅車</div>
      <div>2位．1間臥室．1 張床．1 間衛浴</div>
    </div>
    <div class="mt-4 mb-4 ml-4">
     <img class="rounded-full" src="https://picsum.photos/40/40?random=12"   alt="">
    </div>
  </div>
  </div>
  <div class="border-solid border-t-2"></div>
  <div >
  <div class="mb-2">
      <div class="font-semibold mt-2">自助入住</div>
      <div>使用密碼鎖自助入住</div>
  </div>
  <div class="mb-2">
      <div class="font-semibold">BeachRiad是超讚房東</div>
      <div>超讚房東是經驗豐富、評價超高的房東，致力為房客提供最棒的住宿體驗。</div>
  </div>

  <div class="font-semibold mb-2">48小時內可免費取消。</div>
  </div>
  <div class="border-solid border-t-2"></div>
  <div>
  <div class="mb-2">
    <span class="text-red-400 font-extrabold text-sm">air</span><span class="font-bold text-sm">cover</span>
  </div>

  <div class="mb-2">針對房東取消預訂、房源描述不實和入住困難等其他問題，我們會為每筆預訂提供免費保障。</div>
  <div class="underline mb-2"><a href="http://#">暸解詳情 ></a></div>
  </div>
  <div class="border-solid border-t-2"></div>
  <div>
  <div class="mt-2 mb-2">部分資訊會以原文顯示。<span class="underline">翻譯</span></div>   
  <div class="mb-2">BeachBoys Boys25
      애월 곽지해수욕장을 끼고 있으며
      1960~70년대의 빈티지 에어스트림을
      축적 소재로 이용해서 재해석한
      레트로한 감성캠핑입니다.
  </div>
  <div class="underline mb-2 font-normal"><a href="http://#">顯示更多內容 ></a></div>
  </div>

  <div class="border-solid border-t-2"></div>

  <div>
  <div class="text-xl mt-2 font-medium">有提供的設備與服務</div>
  <div class="mt-2">海灘（緊鄰沙灘）</div>
  <div class="mt-2">廚房</div>
  <div class="mt-2">WiFi</div>
  <div class="mt-2">周圍有免費的車道停車位（1 個車位）</div>
  <div class="mt-2">空調設備</div>
  <div class="w-full flex justify-center item-center mt-2 mb-2 xl:flex justify-start item-start">
  <button type="button" class="border-solid border-1">顯示全部43項設備與服務<button>
  </div>
  </div>
  <div class="border-solid border-t-2"></div>

  <div>
      <div class="w-full text-xl mt-2 mb-2 font-medium">住宿地點</div>
      <div><img src="https://picsum.photos/600/300?random=12" alt="" class="flex  justify-center item-center rounded-lg"></div>
      <div class="mt-2 font-medium">Aewol-eup,Cheju、濟州特別自治道、南韓</div>
      <class="mt-2">애월 곽지해수욕장을 끼고 있으며 1960~70년대의 빈티지 에어스트림을 축적 소재로</ div>
      <div class="mt-2 underline font-normal"><a href="http://#">顯示更多內容 ></a></div>
  </div>

  <div class="border-solid border-t-2"></div>
  <div>
    <div>
      <div class="text-xl mt-2 font-medium">在Aewol-eup, Cheju住6晚</div>
      <div class="text-l text-gray-400">2023年1月11日 - 2023年1月17日</div>
    </div>

    <div class="flex nonewrap mt-6">
      <div> < </div>
      <div>2023年1月</div>
      <div> > </div>
    </div>

      <div class="w-full flex justify-center item-center mt-4 mb-4 mr-6 ml-6 grid   grid-cols-7   gap-7">
        <div>日</div>
        <div>一</div>
        <div>二</div>
        <div>三</div>
        <div>四</div>
        <div>五</div>
        <div>六</div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>
        <div>14</div>
        <div>15</div>
        <div>16</div>
        <div>17</div>
        <div>18</div>
        <div>19</div>
        <div>20</div>
        <div>21</div>
        <div>22</div>
        <div>23</div>
        <div>24</div>
        <div>25</div>
        <div>26</div>
        <div>27</div>
        <div>28</div>
        <div>29</div>
        <div>30</div>
        <div>31</div>    
      </div>

    <div class="underline mt-2 mb-4"><a href="http://#">清除日期</a></div>
  </div>




<div class="border-solid border-t-2"></div>
<div>

  <div>
    <div class="text-xl mt-2 font-medium py-2">5星中的4.76星，來自136則評價</div>
    <div class="border px-2 py-2 rounded-lg">
      <div class="flex mt-2 mb-2 mr-4">
        <div>
          <img class="rounded-full" src="https://picsum.photos/40/40?random=40" alt="">
        </div>
        <div class="ml-2">
          <div>Jenny</div>
          <div>2022年11月</div>
        </div>
      </div>
      <div> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam tenecommodi   i   dincidunt.   Ullam sequi explicabo tempore doloribus architecto vequisquam aut earum,   assumenda libero  neque molestiae minima fugiat veritatis.</p>
      </div>
    </div>
  </div>

  <div class="flex justify-center item-center mt-4 mb-4  border rounded-full">
    <button class="px-2.5 py-2.5 border-1">顯示全部136則評價 <button>
  </div>
</div>
<div class="border-solid border-t-2"></div>
<div>
  <div>
    <div class="flex justify-between">
      <div>
        <div class="text-xl mt-4 mb-2 font-medium">房東：BeachRiad</div>
        <div class="text-l text-gray-400 mb-4">加入時間：2016年8月</div>
      </div>
      <div>
        <div><img class="rounded-full mt-4" src="https://picsum.photos/40/40?random=40" alt="">
      </div>
    </div>
  </div>
            
  <div>
    <div class="mb-2">435 則評價</div>
    <div class="mb-2">身分已驗證</div>
    <div class="mb-2">超讚房東</div>
    <div class="mb-2">애월 곽지해수욕장을 끼고 있으며
      1960~70년대의 빈티지 에어스트림을
      건축적 소재로 이용해서 재해석한
      레트로 캠핑 감성의 스테이입니다.
    </div>
    <div class="mb-2 font-semibold">住宿期間</div>
    <div class="mb-2">비치보이스 주차장에 있는 관리동에서 도움을 드리고 있습니다.</div>
    <div class="mb-2 font-semibold">BeachRiad是超讚房東</div>
    <div class="mb-2">超讚房東是一批經驗豐富、深獲房客好評的房東，全心為房客提供超棒的入住體驗。</div>
    <div class="mb-2">回覆率: 100%</div>
    <div class="mb-2">回覆時間: 1 小時內</div>

    <div class="flex justify-center item-center py-2.5 py-2.5 border rounded-full">
    <button type="button">聯絡房東<button>
    </div>
    <div class="text-sm text-slate-500 mt-2 mb-4">為了確保你的付款安全，請勿透過 Airbnb 網站或應用程式以外的 方式來匯款或聯絡。</div>
  </div>
</div>

<div class="border-solid border-t-2"></div>
<div class="py-2">
  <div class="font-bold text-lg">退訂政策</div>
  <div class="text-gray-400 text-base">48小時內可免費取消。</div>
</div>
<div class="border-solid border-t-2"></div>
<div class="py-2">
  <div class="font-bold text-lg">房屋守則</div>
  <div class="text-gray-400 text-base">入住時間：下午3:00</div>
  <div class="text-gray-400 text-base">退房時間：上午11:00</div>
</div>
<div class="border-solid border-t-2"></div>
<div class="py-2">
  <div class="font-bold text-lg">安全與房源</div>
  <div class="text-gray-400 text-base">氧化和警報</div>
  <div class="text-gray-400 text-base">不適合兒童和嬰兒</div>
</div>
<div class="border-solid border-t-2 ml-4 mr-4"></div>
<div class="py-2">
<button type="button" class="font-bold underline px-2">檢舉此房源<button>
</div>
<div class="border-solid border-t-2"></div>
<div class="py-2">
  <div class="font-bold text-lg">用戶支援</div>
  <div class="text-gray-400 text-base">說明中心</div>
  <div class="text-gray-400 text-base">退訂選項</div>
</div>
<div class="mx-30 my-30"></div>
<div class="fixed bottom-0 left-0 right-0 flex lg:hidden">
  <div class="w-full bg-gray-400">
    <div class="mt-2 mb-2"><span class="line-through inline-block pl-px">$4846</span>$3877 TWD 晚</div>
    <div class="mb-4">1月日至16日</div>
  <div>
    <button class="text-white bg-red-400 px-6 py-4 rounded-lg absolute top-0 right-0">預定<button>
  </div>
</section>

