<section class="w-full px-5 sm:px-10 ">
  <div class="flex flex-col ">
    <div class="mb-2 text-2xl font-semibold">新上特價、交通便利、大浴缸、山瑚景觀房、近公車站、青小瑞士花 園、步道</div>
    
  <div class="flex justify-between flex-nowrap"> 
    <div class="flex">
      <div class="flex mr-2">
        <i class="text-lg fa-solid fa-star"></i>
        <p >4.79</p>
      </div>
        <div>42則評價</div>
  </div>
      
      <div class="flex">
        <i class="fa-duotone fa-share"></i>
        <a href="http:#" class="mr-2">分享</a>
        <div class="">
          <i class="text-sm fa-regular fa-heart"></i>  
          <a href="http:#" class="font">儲存</a>
        </div>
      </div> 
  </div>
    <div class="grid grid-cols-4 grid-rows-2">
      <img src="https://picsum.photos/600/300?random=12" alt="" class="mt-2 mb-2 rounded-lg">
    </div> 
  <div>
    <div class="flex">
      <div class="my-4 ">
        <div class="text-2xl">BeachRiad出租的露營車／休旅車</div>
        <div>2位．1間臥室．1 張床．1 間衛浴</div>
      </div>
      <div class="mt-4 mb-4 ml-4">
        <img class="rounded-full" src="https://picsum.photos/40/40?random=12"   alt="">
      </div>
    </div>
  </div>
  
  <div class="border-t-2 border-solid "></div>
  
  <div class="my-4 lg:flex">
    <div class="">
      <div class="mt-2 font-semibold">自助入住</div>
      <div class="mb-2">使用密碼鎖自助入住</div>
      <div class="font-semibold">BeachRiad是超讚房東</div>
      <div class="mb-2">超讚房東是經驗豐富、評價超高的房東，致力為房客提供最棒的住宿體驗。</div>
      <div class="mb-2 font-semibold">48小時內可免費取消。</div>
    </div>
    <div class="border-t-2 border-solid lg:hidden"></div>
    <div class="lg:px-4">
    <span class="text-sm font-extrabold text-red-400">air</span><span class="text-sm font-bold">cover</span>
      <div class="mt-2 mb-2">針對房東取消預訂、房源描述不實和入住困難等其他問題，我們會為每筆預訂提供免費保障。</div>
      <div class="mb-2 underline"><a href="http://#">暸解詳情 ></a></div>
    </div>
    <div class="border-t-2 border-solid lg:hidden"></div>
    <div class="lg:px-4">
      <div class="mt-2 mb-2">部分資訊會以原文顯示。<span class="underline">翻譯</span></div>   
      <div class="mb-2">BeachBoys Boys2애월 곽지해수욕장을 끼고 있으며1960~70년대의 빈티지 에어스트림을</div>
      <div class="mb-2 font-normal underline"><a href="http://#">顯示更多內容 ></a></div>
    </div>
  </div>

  <div class="border-t-2 border-solid"></div>

  <div>
    <div class="mt-2 text-xl font-medium">有提供的設備與服務</div>
    <div class="mt-2">海灘（緊鄰沙灘）</div>
    <div class="mt-2">廚房</div>
    <div class="mt-2">WiFi</div>
    <div class="mt-2">周圍有免費的車道停車位（1 個車位）</div>
    <div class="mt-2">空調設備</div>
    <div class="flex justify-start justify-center w-full mt-2 mb-2 item-center xl:flex item-start">
    <button class="border-solid border-1">顯示全部43項設備與服務<button>
  </div>
  
  <div class="border-t-2 border-solid"></div>
  
<div class="lg:flex">
  <div>
    <div class="mt-2 mb-2 text-xl font-medium w-fu">住宿地點</div>
    <div><img src="https://picsum.photos/600/300?random=12" alt=""></div>
    <div class="mt-2 font-medium">Aewol-eup,Cheju、濟州特別自治道、南韓</div>
    <div class="mt-2">애월 곽지해수욕장을 끼고 있으며 1960~70년대의 빈티지 에어스트림을 축적 소재로</div>
    <div class="mt-2 un-2 derline mbfont-normal"><a href="http://#">顯示更多內容 ></a></div>
  </div>
  
  <div class="border-t-2 border-solid lg:hidden"></div>

  
  <div class="px-4 py-6">
    <div class="mt-2 text-xl font-medium">在Aewol-eup, Cheju住6晚</div>
    <div class="text-gray-400 text-l">2023年1月11日 - 2023年1月17日</div>
    <div class="mt-2 mb-4 underline"><a href="http://#">清除日期</a></div>
  </div>
</div>

<div class="border-t-2 border-solid"></div>

 <div class="flex mt-2 mb-2">
  <div class="flex mr-2">
    <i class="text-lg fa-solid fa-star"></i>
    <p >4.79</p>
  </div>
    <div>42則評價</div>
  </div>     

  <div class="lg:flex">
    <div class="pr-6">
      <div class="px-2 py-2 border rounded-lg">
        <div class="flex mt-2 mb-2 mr-4">
          <div>
            <img class="rounded-full" src="https://picsum.photos/40/40?random=40" alt="">
          </div>
          <div class="ml-2">
            <div>Jenny</div>
            <div>2022年11月</div>
          </div>
        </div>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
  </div>
  <div>
    <div class="px-2 py-2 border rounded-lg">
      <div class="flex mt-2 mb-2 mr-4">
        <div>
          <img class="rounded-full" src="https://picsum.photos/40/40?random=40" alt="">
        </div>
        <div class="ml-2">
          <div>Jenny</div>
          <div>2022年11月</div>
        </div>
      </div>
        <p>Lorem ipsum dolor sit amet, consectetur</p>
    </div>
  </div>
</div>
  <div class="flex justify-center mt-4 mb-4 border rounded-full item-center">
    <button class="px-2.5 py-2.5 border-1">顯示全部136則評價 <button>
  </div>

  <div class="border-t-2 border-solid"></div>

  <div class="flex">
    <div>
      <div class="mt-4 mb-2 text-xl font-medium">房東：BeachRiad</div>
      <div class="mb-4 text-gray-400 text-l">加入時間：2016年8月</div>
    </div>
    <div><img class="mt-4 ml-4 rounded-full" src="https://picsum.photos/40/40?random=40" alt=""></div>
  </div>
  <div class="lg:flex">
    <div class="pr-4">
      <div class="mb-2">435則評價</div>
      <div class="mb-2">身分已驗證</div>
      <div class="mb-2">超讚房東</div>  
      <div class="font-semibold">住宿期間</div>
      <div class="mb-2">비치보이스 주차장에 있는 관리동에서 도움을 드리고 있습니다.</div>
    </div>
    <div class="pr-4">
      <div class="font-semibold">BeachRiad是超讚房東</div>
      <div class="mb-2">超讚房東是一批經驗豐富、深獲房客好評的房東，全心為房客提供超棒的入住體驗。</div>
      <div class="mb-2">回覆率: 100%</div>
      <div class="mb-2">回覆時間: 1 小時內</div>
    </div>
  </div>
    <div class="flex justify-center item-center py-2.5 border rounded-full">
      <button type="button">聯絡房東<button>
    </div>
    <div class="mt-2 mb-4 text-sm text-slate-500">為了確保你的付款安全，請勿透過 Airbnb 網站或應用程式以外的 方式來匯款或聯絡。</div>
  </div>
</section>


