<section>
  <h1>申請預訂</h1>
  <div class="booking-detail">
    <div class="special-tag">
      <div>
        <span>服務費全免。</span>
        <span>怡伶將為房客支付服務費。</span>
      </div>
      <div><i class="fa-solid fa-piggy-bank"></i></div>
    </div>
    <div class="date-and-headcount">
      <h2>你的旅程</h2>
      <div class="date">
        <div>
          <span>日期</span>
          <span>2023年1月13日至14日</span>
        </div>
        <div>編輯</div>
      </div>
      <div class="headcount">
        <div>
          <span>房客人數</span>
          <span>2位房客</span>
        </div>
        <div>編輯</div>
      </div>
    </div>
    <div class="pay-way">
      <h2>選擇付款方式</h2>
      <div>
        <div>
          <div>
            <span>全額支付</span>
            <span>立即支付總額，一切就大功告成了。</span>
          </div>
          <div>
            <span>$2,310</span>
            <input type="radio" name="pay-way">
          </div>
          <div>
            <span>立即支付部分費用，之後再付清餘額</span>
            <span>現在支付$462.00，剩餘款項 ($1,848.00) 將於2023年1月4日透過相同的付款方式自動扣款。 沒有額外費用。</span>
            <a href="#">更多資訊</a>
          </div>
          <div>
            <span>$462</span>
            <input type="radio" name="pay-way">
          </div>
        </div>
        <div></div>
      </div>
    </div>
    <div class="pay-with">
      <h2>付款方式：</h2>
      <button>LINE PAY</button>
      <a href="#">輸入優惠券代碼</a>
    </div>
    <div class="cancellation-policy">
      <h2>退訂政策</h2>
    </div>
    <div class="ground-rules">

    </div>
    <div class="policy-agree">

    </div>
    <button>
      <a href="#">確認並付款</a>
    </button>
  </div>





  <div></div>
</section>