@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'tw-elements';

.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.swiper-button-prev{
  height: 20px;
  width:  20px;
}
.swiper-button-next{
  height: 20px;
  width:  20px;
}
.gradient-text {
  background-image: linear-gradient(to bottom, #EC4899, #E88481);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
select{
  border: 2px solid #ec4899;
  width: 100px;
  background-color: #fff;
  padding: 2px;
  border-radius: 4px;
}


@layer components {
  .h1{
    @apply
    text-2xl font-semibold text-gray-700
    }
  .h2 {
    @apply
    text-xl font-bold text-gray-700
    }
  .h3 {
    @apply
    text-lg font-medium  text-gray-700
    }

  .nav-item {
    @apply 
    block px-4 py-2 font-medium text-gray-800 border-b border-gray-300  bg-gradient-to-b hover:from-pink-500 hover:to-orange hover:text-white;
  }
  .input {
    @apply 
    w-full px-4 py-2  border rounded-md focus:outline-none focus:ring-1 focus:ring-pink-500 bg-white;
  }
  .container-center {
    @apply 
    container mx-auto
  }
  .ad-cover {
    @apply
    w-full h-full  bg-black opacity-60 top-0 bottom-0 m-auto
  }
  .OAuth-btn {
    @apply
    w-full px-6 py-3  border text-black bg-white rounded-lg hover:text-pink-500 hover:border-gray-600 flex justify-between 
  }
  .btn {
    @apply
    px-6 py-3  text-white bg-gradient-to-b from-pink-500 to-orange rounded-lg hover:from-orange hover:to-pink-500
  }
  .btn-cancel {
    @apply
    px-6 py-3 block font-bold text-gray-500 bg-white w-fit hover:text-gray-700 border rounded-lg hover:border-gray-700
  }
  .btn-delete{
    // fa-regular 
    // fa-trash-can  
    @apply
    block 
    text-lg 
    font-bold 
    text-gray-400 
    border-gray-400 
    bg-white border 
    rounded-md 
    cursor-pointer 
    w-fit 
    hover:text-gray-500 
    hover:border-gray-500
  }

  .swiper-slide{
    @apply
    h-auto
  }
  .img-full{
    @apply
    w-full
    h-full
    object-cover
  }
  .bg-color-main{
    @apply
    bg-gradient-to-b 
    from-pink-500 
    to-orange 
  }
  .bg-color-main-hover{
    @apply
    hover:from-orange 
    hover:to-pink-500 
  }

}