@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .nav-item {
    @apply 
    block px-4 py-2 font-medium text-gray-800 border-b border-gray-300 hover:bg-pink-700 hover:text-white;
}
  .input {
    @apply 
    w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-pink-600;
}
  .container-center {
    @apply 
    container mx-auto
}
  .ad-cover {
    @apply
    w-full h-full  bg-black opacity-60 top-0 bottom-0 m-auto
  }
}