<% content_for(:html_title) { '更新房源資料' } %>
<div class="w-full px-10 mb-10 text-gray-700 lg:px-56">
  <div class="flex w-full overflow-hidden text-gray-700 border-2 shadow-md rounded-2xl ">
    <div class="w-1/2 px-10 py-5 text-gray-700 bg-white bg-opacity-50 ">
      <div class="flex flex-col gap-5">
        <h1 class="h1">更新房源資料</h1>
        <div>
          <%= render "form", room: @room %>
        </div>
      </div>
    </div>
    <div class="grid w-1/2 grid-cols-2 gap-1 overflow-y-auto bg-cover h-500">
      <% @room.photos.all.each do |photo| %>
        <div class="relative inline-block h-48 border-2">
          <%= image_tag photo, class:"w-full h-full object-cover"%>
          <%= link_to destroy_photo_room_path(@room, photo), method: :delete do %>
            <i class="absolute text-red-400 right-2 top-2 fa-solid fa-circle-xmark"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
