<div class="flex w-11/12 mx-auto rounded-md shadow-md">
  <div class="w-2/5 py-4 mx-auto text-gray-700 bg-red-100 bg-opacity-50 rounded-md">
    <div class="w-2/3 mx-auto rounded-l-md">
      <h1 class="mb-4 text-3xl">更新房源資料</h1>
      <div>
        <%= render "form", room: @room %>
      </div>
    </div>
  </div>
  <div class="w-3/5 bg-cover rounded-r-md" style="background-image: url(http://www.funtime.com.tw/blog/wp-content/uploads/2021/01/127.jpg)"></div>
</div>