<div class="flex w-11/12 mx-auto rounded-md shadow-md">
  <div class="w-2/5 py-4 mx-auto text-gray-700 bg-red-100 bg-opacity-50 rounded-md">
    <div class="w-2/3 mx-auto rounded-l-md">
      <h1 class="mb-4 text-3xl">更新房源資料</h1>
      <div>
        <%= render "form", room: @room %>
      </div>
    </div>
  </div>
  <div class="w-3/5 rounded-r-md">
    <% @room.photos.reverse.each do |photo| %>
      <div class="relative inline-block border-2 border-red-400 ">
        <%= image_tag photo.variant(resize: '300x300') %>
        <%= link_to destroy_photo_room_path(@room, photo), method: :delete do %>
          <i class="absolute text-red-400 right-2 top-2 r fa-solid fa-circle-xmark"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
