<div class="flex w-11/12 mx-auto rounded-md shadow-md">
  <div class="w-2/5 py-4 mx-auto text-gray-700 bg-red-100 bg-opacity-50 rounded-md">
    <div class="w-2/3 mx-auto rounded-l-md">
      <div>
        <%= render "form", room: @room %>
      </div>
    </div>
  </div>
  <div class="w-3/5 bg-cover rounded-r-md">
    <% @room.photos.each do |photo| %>
      <%= image_tag photo%>
    <% end %>
  </div>
</div>