<h1>所有評價</h1>

<%= link_to "新增評價", new_review_path %>
<% @reviews.each do |review| %>
  <li>
    <%= link_to "編輯", edit_review_path(review) %>
    <%= link_to "刪除", review_path(review), method: "delete", data: {confirm: "確定嗎"} %>
  </li>
<% end %>
